.text-field:danger{
    -fx-border-color: red;
    -fx-prompt-text-fill: red;
}
.text-area:danger {
    -fx-border-color: red;
    -fx-prompt-text-fill: red;
}
.combo-box:danger{
    -fx-border-color: red;
}
.combo-box:danger > .list-cell {
    -fx-text-fill: red;
}
.combo-box-base:danger > .arrow-button > .arrow {
    -fx-border-color: red;
}
.tree-view:danger{
    -fx-border-color: red;
}