.tree-cell:hover {
    -fx-background-color: lightblue;
}

.tree-cell:empty:hover {
    -fx-background-color: transparent;
}

.tree-view {
    -fx-border-width: 0px;
}

#top-h-box {
    -fx-background-color: #f0f0f0;
}

